@page "/myquiz"
@using QuizBlazorApp.Shared.ViewModels
@using System.Text.Json;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient _httpClient

<PageTitle>My Quizzes</PageTitle>

<h3>Welcome, @userName!</h3>

@if (userQuizzes != null)
{
    <ul>
        @foreach (var quiz in userQuizzes)
        {
            <li>@quiz.QuizName</li>
        }
    </ul>
}
else
{
    <p>No quizzes found for this user.</p>
}

@code {
    private string userName;
    private List<QuizViewModel> userQuizzes;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        userName = user.Identity?.Name;

        await LoadUserQuizData();
    }

    private async Task LoadUserQuizData()
    {
        try
        {
            var response = await _httpClient.GetAsync("/api/quiz/userquiz");
            if (response.IsSuccessStatusCode)
            {

                var jsonString = await response.Content.ReadAsStringAsync();
                if (jsonString == null || jsonString == "" )
                {
                    Console.WriteLine("jsonString is null");
                }
                userQuizzes = JsonSerializer.Deserialize<List<QuizViewModel>>(jsonString, new JsonSerializerOptions //doesnt wrok
                {
                    PropertyNameCaseInsensitive = true 
                });
            }
            else
            {
                Console.WriteLine("API request failed");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Getting quiz data failed {ex.Message}");
        }
    }
}
