@page "/myquiz"
@using QuizBlazorApp.Shared.ViewModels
@using System.Text.Json
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient _httpClient

<PageTitle>My Quizzes</PageTitle>

<h3>Welcome, @userName!</h3>

@if (quizViewModel == null)
{
    <p>No quizzes found for this user.</p>
}
else
{
    <ul>
        @foreach (var quiz in quizViewModel)
        {
            @foreach (var items in @quiz.QuizItems)
            {
                <p>@items.CreatorName</p>
            }
        }
    </ul>
}

@code {
    private string userName;
    private List<QuizViewModelViewModel> quizViewModel;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        userName = user.Identity?.Name;

        await LoadUserQuizData();
    }

    private async Task LoadUserQuizData()
    {
        try
        {
            var response = await _httpClient.GetAsync("/api/quiz/userquiz");
            if (response.IsSuccessStatusCode)
            {
                var jsonString = await response.Content.ReadAsStringAsync();
                if (string.IsNullOrEmpty(jsonString))
                {
                    Console.WriteLine("jsonString is null or empty");
                }

                var quiz = JsonSerializer.Deserialize<QuizViewModelViewModel>(jsonString, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

                //quiz = quizViewModel; doesnt work

                /*var userQuizzesz = JsonSerializer.Deserialize<List<QuizViewModel>>(jsonString, new JsonSerializerOptions //doesnt wrok
                    {
                    PropertyNameCaseInsensitive = true
                });*/
                //quizView = quizList;
            }
            else
            {
                Console.WriteLine("API request failed");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Getting quiz data failed {ex.Message}");
        }
    }
}
